.main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content:flex-start;
  justify-content:center;
}

hr {
  width: 50%;
  color: black;
  align-content: center;
}

.card-list {
  padding-bottom: 3rem;
}
